@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos personalizados */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #2563eb;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #2563eb;
  cursor: pointer;
  border: none;
}

/* Estilos adicionales para el mapa */
.gm-style-iw {
  border-radius: 8px;
}

.gm-style-iw-d {
  max-height: 300px !important;
}
